---
import AddToCart from "@/components/AddToCart";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Gallery from "@/components/Gallery";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { CATEGORIES } from "@/lib/consts/CATEGORIES";
import { SHIRTS } from "@/lib/consts/SHIRTS";
import { formatPrice } from "@/lib/utils";

export async function getStaticPaths() {
  const paths = SHIRTS.map((shirt) => ({
    params: { cid: shirt.category, sid: shirt.id },
  }));
  return paths.flat();
}

const { cid, sid } = Astro.params;
const [category] = CATEGORIES.filter((cat) => cat.id == cid);
const shirt = SHIRTS.find((item: { id: any }) => item.id == sid);

if (!shirt) {
  return new Response("Shirt not found", { status: 404 });
}
---

<BaseLayout title={`${category.name} | ${shirt.name}`}>
  <Breadcrumbs
    breadcrumbs={[
      { label: "Inicio", href: "/", active: false },
      { label: category.name, href: `/${cid}`, active: false },
      { label: shirt.name, href: `/${cid}/${sid}`, active: true },
    ]}
  />
  <main class="mt-32 mx-56 flex flex-row items-start justify-around gap-8">
    <Gallery images={shirt.images} category={category} client:only="react" />
    <section class="flex-col flex py-4 gap-4 w-full">
      <h1 class="text-5xl font-base text-left w-full">
        Camiseta de {shirt.name}
      </h1>
      <h2 class="font-light text-3xl text-neutral-700">
        {formatPrice(shirt.price)}
      </h2>
      <AddToCart product={shirt} client:only="react" />
    </section>
    <!-- <section class="flex flex-col flex-1 gap-4 w-22"></section> -->
  </main>
</BaseLayout>
